.aboutUsPage {
    margin-top: 10vw;
    background-color: transparent; /* Mantener el fondo 3D */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Contenedor principal de la información de nosotros */
  .aboutUsInfo {
    display: flex;
    flex-direction: column; /* Coloca los elementos uno debajo del otro */
    justify-content: space-between;
    align-items: flex-start; /* Alinea a la izquierda */
    width: 80%; /* Ajusta el tamaño del recuadro */
    background-color: #fff; /* Fondo blanco */
    border: 30px solid #333; /* Borde negro */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
  }
  
  /* Panel Imagen */
  .panelImagen {
    width: 90%; /* Ocupa todo el ancho disponible */
    height: 200px; /* Altura del panel grande */
    background-color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px; /* Espacio debajo */
  }
  
  .panelImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }
  
  /* Imagen Pequeña (Abajo a la derecha) */
  .imagenPequeña {
    width: 50%; /* Ajusta el tamaño del panel pequeño */
    background-color: #96848494; /* Fondo más claro */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    align-self: flex-end; /* Alinea a la derecha */
  }
  
  .smallImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }
  