.forumPageContainer {
  /* Eliminamos el margin-top para evitar choque con navbar */
  padding: 20px;
  display: flex;
  height: calc(100vh - 60px); /* Altura ventana menos navbar */
  background-color: #e6e6e6;
  border-radius: 15px;
  overflow: hidden;
}
